<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<style>
 #post-content { font-family: "Quicksand",Helvetica,sans; text-align:center; margin-bottom: 300px; }
 #leader { font-size:36pt; margin:200px auto 100px; }
 strong { color: #f63; }
 ul { list-style-type: none; display:table; margin:auto; padding:0px;}
 ul span { padding:2px 50px; display:block; }
 li { display:table-row; padding:0px; margin:0px; }
 #gh { color:white; background:#555; }
 #ln { color:white; background:#55a; }
 #tw { color:white; background:#69d; }
 #gm { color:white; background:#c33; }
 a:hover { text-decoration: underline }
 @media (max-device-height:700px) {
   #leader { font-size:24pt; margin:100px auto 50px; }
 }
</style>
<p id=leader><strong>Hey</strong> there. I am <strong>J</strong>immy.</p>
<p>A software developer interested in security, 3D graphics, IoT, and programming languages</p>
<ul>
  <li><a href='https://github.com/talyian'><span id=gh>[ github : talyian ]</span></a> </li>
  <li><a href='https://linkedin.com/in/talyian'><span id=ln>[ linkedin : talyian ]</span></a> </li>
  <li><a href='https://twitter.com/moosekk'><span id=tw>[ twitter : moosekk ]</span></a> </li>
  <li><a href='mailto://you know how this works'><span id=gm>[ gmail : talyian ]</span></a> </li>
</ul>
