<!doctype html>
<style>
  body,html { margin:0px; padding:0px; font:16px "Verdana"; line-height:1.4; background:#333; color:#eee; }
  h1,h2,h3,h4,h5,h6 { font-weight: normal; color:#fe9;}
  #post-content {max-width:750px; margin:auto; }
  #header>h1 { padding-left:50%; margin:0px; font:32px Verdana; letter-spacing:10px; }
  #header>h1>a>span:nth-child(4) { color:#f63; }
  #header a { color:inherit; text-decoration:none; }
  a { color: #f63; }
  pre { background:black; overflow-x:auto; border-left:1px solid #f63; padding-left:10px;  }
  #post-content img { max-width:100%; }
</style>
<div id=header>
  <h1><a href=/><span>h</span><span>e</span><span>y</span><span>j</span>imbo</a></h1>
</div>
<div id=post-content>
<%- content %>
